*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;
    overflow: hidden;
}
section::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b , #e91e63);
    border-radius: 50%;
    transform: translate(-420px , -180px);
    overflow: hidden;
}
section::after{
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3 , #83d8ff);
    border-radius: 50%;
    transform: translate(400px , 180px);
    overflow: hidden;
}
.container{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.05) ;
    pointer-events: none;
    transform: skewX(-15deg);
}
.container h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container .row100 .col .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.container .row100 .col .input-box input ,
.container .row100 .col .input-box textarea{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
}
.container .row100 .col .input-box .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 15px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .col .input-box input:focus + .text,
.container .row100 .col .input-box input:valid + .text,
.container .row100 .col .input-box textarea:focus + .text,
.container .row100 .col .input-box textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .col .input-box .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .col .input-box input:focus ~ .line,
.container .row100 .col .input-box input:valid ~ .line{
    height: 100%;
}
.container .row100 .col .input-box.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .col .input-box textarea:focus ~ .line,
.container .row100 .col .input-box textarea:valid ~ .line{
    height: 100%;
}
.container .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
}
@media (max-width: 768px)
{
    section::before{
        transform: translate(-200px,-180px);
        overflow: hidden;
    }
    section::after{
        transform: translate(220px,180px);
        overflow: hidden;
    }
    .container{
        padding: 20px;
    }
    .container h2{
        font-size: 28px;
    }
}